*~
\#*\#
.\#*
.idea/
.DS_Store
._*
__pycache__/
*.py[cod]
*$py.class
build/
*.egg-info/
target/
htmlcov/
.coverage
.coverage.*
.cache
coverage.xml
*.cover
.pytest_cache/
{%- if cookiecutter.use_mypy|lower != "n" %}
.mypy_cache/
{%- endif %}
.env
venv/
env/
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-rt-v][a-z]
[._]ss[a-gi-z]
[._]sw[a-p]
.netrwhist
.vscode/*
.history
