[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
isort = "==4.3.20"
{%- if cookiecutter.use_black|lower != 'n' %}
black = "==19.3b0"
{%- endif %}
pylint = "==2.3.1"
{%- if cookiecutter.use_mypy|lower != 'do not use' %}
mypy = "==0.730"
{%- endif %}
pytest = "==4.6.3"
pytest-cov = "==2.7.1"

[packages]

[requires]
python_version = "{{ cookiecutter.python_version }}"
