[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
isort = "*"
{%- if cookiecutter.use_black|lower != 'n' %}
black = "*"
{%- endif %}
pylint = "*"
{%- if cookiecutter.use_mypy|lower != 'do not use' %}
mypy = "*"
{%- endif %}
pytest = "*"
pytest-cov = "*"

[packages]

[requires]
python_version = "{{ cookiecutter.python_version }}"
