{%- if cookiecutter.use_black|lower == 'y' -%}
black==19.3b0
{% endif -%}
{% if cookiecutter.use_mypy|lower != 'do not use' -%}
mypy==0.701
{% endif -%}

codecov==2.0.15
isort==4.3.20
pylint==2.3.1
pytest==4.6.3
pytest-cov==2.7.1
